/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.logo {
  height: 78px;
  width: 100%;
  background: url(../images/icat-logo-abbrev.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 229px 78px;
}

.affix {
  top: 0;
  width: 100%;
  left: 0;
  padding: 0 15px;
}

.affix + div {
  margin-top: 70px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .navbar {
    left: auto;
    width: 700px;
    padding: 20px 0;
    margin: 0px;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    display: inline-block;
    float: none;
  }

  .logo {
    background: url(../images/icat-logo-full.png);
    width: 700px;
    height: 78px;
    background-size: 100%;
  }

  .affix + div {
    margin-top: 90px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.navbar-default {
  background-color: white;
  border: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: #428bca;
  color: white;
}

.navbar-default .navbar-nav>li>a {
  border-radius: 4px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .jumbotron h1, .jumbotron .h1 {
    font-size: 42px;
  }
}