/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.logo {
  height: 78px;
  width: 100%;
  background: url(../images/icat-logo-abbrev.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 229px 78px;
}

.navbar {
  -webkit-transition: box-shadow 0.25s linear;
  -kthtml-transition: box-shadow 0.25s linear;
  -moz-transition: box-shadow 0.25s linear;
  -ms-transition: box-shadow 0.25s linear;
  -o-transition: box-shadow 0.25s linear;
  transition: box-shadow 0.25s linear;
}

.affix {
  top: 0;
  width: 100%;
  left: 0;
  padding: 0 15px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
}

.affix + section,
.affix + div {
  margin-top: 70px;
}

.nav-link-target {
  height: 50px;
  margin-top: -50px;
}

li.top-nav-link {
  display: none;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

section:nth-of-type(n+2) {
  border-top: 1px solid gray;
  margin: 0 -15px;
  padding: 5px 15px;
}

section:nth-of-type(even) {
  background-color: #FFF0B2;
}

section:nth-of-type(2n+3) {
  background-color: #444B59;
  color: white;
}

section:last-of-type {
  background: none;
  font-size: 0.8em;
  padding: 20px 15px;
}

.workshop-image {
  width: 200px;
  border-radius: 100px;
  border: 1px solid gray;
  float: right;
  margin-left: 1em;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
    border-width: 0 1px;
    border-style: solid;
    border-color: gray;
  }

  .navbar {
    left: auto;
    width: 728px;
    padding: 20px 14px;
    margin: 0 -15px;
    border-radius: 0;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    display: inline-block;
    float: none;
  }

  .logo {
    background: url(../images/icat-logo-full.png);
    width: 700px;
    height: 78px;
    background-size: 100%;
  }

  .affix + div {
    margin-top: 90px;
  }

  .nav-link-target {
    height: 95px;
    margin-top: -95px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.navbar-default {
  background-color: white;
  border: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: #444B59;
  color: white;
}

.navbar-default .navbar-nav>li>a {
  border-radius: 4px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .jumbotron h1, .jumbotron .h1 {
    font-size: 42px;
  }
}